<!-- <ion-view title="Camera Tab Default Page" hide-nav-bar="true" id="page2">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="cameraTabDefaultPage-list1">
      <ion-item class="item-thumbnail-left" id="cameraTabDefaultPage-list-item1">
        <img src="img/w6pWMgy2S16woi0ncddz_paollo-1.jpg">
        <h2>PAOLO GERRERO </h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cameraTabDefaultPage-list-item7">
        <img src="img/CsBj8tCXTe2ZnXhceakB_58ceb8ae0d263.jpeg">
        <h2>CUEVA</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cameraTabDefaultPage-list-item5">
        <img src="img/F8T2lA1nTeAmksffur2j_Raul-Ruidiaz-3.jpg">
        <h2>RUI DIAZ</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cameraTabDefaultPage-list-item2" href="mailto:">
        <img src="img/xJlaeG5PTnKuBbST8rAT_59ac7b690f5f8.jpeg">
        <h2> FLOREZ</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cameraTabDefaultPage-list-item3">
        <img src="img/Gr5MEcFiSXSFpdBdexn4_Noticia-149102-jefferson_farfan.jpg">
        <h2>FARFAN</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cameraTabDefaultPage-list-item6">
        <img src="img/DFfNcbfWQqSr91SlCLjj_yotun32432.jpg">
        <h2>YOTUN</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->