<ion-modal-view>

    <ion-content style='padding: 10px;'>

<div class='uno' style='width: 80%'>
      <label class="item item-input" id="fichaDeCliente-input32">
      
        <input ng-model='nombre' placeholder ='Ingrese un nombre' required type="text">
      </label>
      </div>

     <div class='dos' style='width: 15%'>

     <button id="clientes-button112" ng-click='closeModal(nombre)' class="button button-positive button-block"><i class = "icon ion-android-arrow-dropright-circle" style='color:#fff;'></i>
</button>
    

      </div> 


<!-- 
      <i class = "icon ion-ios-football" style='color:red;    font-size: 116px;'></i>

 -->

    </ion-content>
  </ion-modal-view>

