<ion-view title="Page" hide-nav-bar="true" id="page5" class="fondo">




<div class='fixed44'>
    <form >

    <div class='tres' style='width: 13%'>

     <button id="clientes-button112" ng-click='openModal()' class="button button-positive button-block"><i class = "icon ion-person" style='color:#fff;'></i>
</button>
    

      </div>

      
        <div class='uno' style='width: 70%'>
      <label class="item item-input" id="fichaDeCliente-input32">
      
        <input ng-model='newMessageText'   required type="text">
      </label>
      </div>

      <div class='dos' style='width: 10%'>

     <button id="clientes-button112" ng-click="addMessage(newMessageText);newMessageText=''" type='submit' class="button button-positive button-block"><i class = "icon ion-paper-airplane" style='color:#fff;'></i>
</button>
    

      </div>

      
    </form>

    </div>





  <ion-content padding="true" class="manual-ios-statusbar-padding">

<ul>
      <li ng-repeat="message in messages.slice().reverse()">

        <span style='color:red;font-weight:bold;'>{{message.nombre}}</span> : <span>{{message.text}}</span>
      
      </li>
    </ul>


         <ion-item ng-if='datocliente'  ng-mouseover='icon=true' ng-mouseleave='icon=false' ng-repeat="cli in todosclientes | filter: datocliente"  class="item-icon-right positive searchlist"  ui-sref="listaDePropuestas({cliente: {{cli.id}}})">
          <span style='font-size:14px'> {{cli.user__first_name}} {{cli.user__last_name}} {{cli.user__email}}</span></ion-item>

 




    <!-- push a new message onto the array -->

    
      </ion-content>
</ion-view>

<style type="text/css">

.uno,.dos,.tres{
    display: inline-block;
    vertical-align: middle;
}    

.fixed44 {

 bottom: 0px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 7px;

 
}
.item-input {
    border-radius: 4px;
    border: 1px solid #f00;
}


</style>